* text=auto
*.js text eol=lf
*.mjs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.conf text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.jpg binary
*.png binary
*.mp3 binary
*.m4a binary
*.wav binary
*.mp4 binary
